<p id="notice"><%= notice %></p>

<h1>Listing Movies</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= link_to "Title", :sort_by => "title" %></th>
      <th><%= link_to "Length", :sort_by => "length" %></th>
      <th><%= link_to "Year", :sort_by => "release_year" %> </th>
      <th><%= link_to "Rating", :sort_by => "rating" %></th>
      <th><%= link_to "Format", :sort_by => "format_id" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= (movie.length/60)%> hr <%="%02d" % (movie.length % 60)%> min</td>
        <td><%= movie.release_year %></td>
        <td>
          <%if movie.rating == 0%>
            NR
          <%else%>
            <%= movie.rating %>
          <%end%>
        </td>
        <td><%= movie.format.name %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
