<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Length:</strong>
    <%= (@movie.length/60)%> hr <%= "%02d" % (@movie.length % 60) %> min
</p>

<p>
  <strong>Release Year:</strong>
  <%= @movie.release_year %>
</p>

<p>
  <strong>Rating:</strong>
  <%if @movie.rating == 0 %>
    *No Rating*
  <%else%>
    <%= @movie.rating %>
  <%end%>
</p>

<p>
  <strong>Format:</strong>
  <%= @movie.format.name %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>